<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
    <context:annotation-config/>
   <!-- bean wired byName -->
   <bean id="outer" class="com.tutorial.beanAnnotations.OuterClass">
   </bean>
    
   <!-- innerClass will be ignored by @Qualifier("inner") --> 
   <bean id="notInner" class="com.tutorial.beanAnnotations.InnerClass">
       <property name="message" value="Wrong Inner Class"/>
   </bean>
   
   <!-- innerClass --> 
   <bean id="innerClass" class="com.tutorial.beanAnnotations.InnerClass">
       <property name="message" value="Inner Class"/>
   </bean>
   
   <bean id="message" class="java.lang.String">
       <constructor-arg value="Wired by Annotation"/>
   </bean>
	<!-- more beans here please -->
</beans>