<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
   <!-- Child Bean -->
    <bean id="message" class = "com.tutorial.beanLog.Message" >
        <property name = "message1" value = "Bean message 1"/>
    </bean>
   
	<!-- more beans here please -->
</beans>